
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a routerLink="bindings1">1 : Les différents Bindings</a></li>
    <li class="divider"></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <a routerLink="" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Liste des démos Angular
                    <i class="material-icons right">arrow_drop_down</i>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
            </li>
        </ul>
    </div>
</nav>


