<h2>Les pipes</h2>

<div class="row">
    <div class="col s4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p>Titre de la promos Avant : {{allDatasInObject.titlePromos}}</p>
                <p>Titre de la promos Après : {{allDatasInObject.titlePromos | uppercase}}</p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p>Date de début Avant : {{allDatasInObject.dateDebut}}</p>
                <p>Date de début Après : {{allDatasInObject.dateDebut | date : "dd-MM-yyyy"}}</p>
                <p>Date de début Après : {{allDatasInObject.dateDebut | date : "full"}}</p>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p>Remise Net Avant : {{allDatasInObject.remiseNet}}</p>
                <p>Remise Net Après : {{allDatasInObject.remiseNet | currency : "USD"}}</p>
                <p>Remise Net Après : {{allDatasInObject.remiseNet | currency : "EUR"}}</p>
                <p>Remise Net Après : {{allDatasInObject.remiseNet | currency : "JPY"}}</p>
            </div>
        </div>
    </div>

    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <pre>{{ allDatasInObject | json}}</pre>
            </div>
        </div>
    </div>
</div>



<h2>Les pipes custom</h2>

<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p>Valeur initiale à exposantifier : {{ powerPipe }}</p>
                <p>Valeur au carré {{powerPipe}} * {{powerPipe}} = {{ powerPipe | customPipePow }}</p>
                <p>Valeur avec passage de l'exposant : {{ powerPipe | customPipePow : 4}}</p>
                <p>Valeur avec passage de l'exposant + tvac : {{ powerPipe | customPipePow : 4 : 15.5 }}</p>
            </div>
        </div>
    </div>
</div>

