<h2>Les différents Bindings</h2>

<h3>Le One Way Binding</h3>
<div class="row">
    <div class="col s3">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p>Ma string : {{ str }}</p>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p>Mon Nombre : {{ numb }}</p>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p>Mon Boolean : {{ bool }}</p>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p>Ma Date : {{ dateDJ }}</p>
            </div>
        </div>
    </div>
</div>




<h3>Le Two Way Binding</h3>
<div class="row">
    <div class="col s4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p>Mon text input : {{ str2 }}</p>
                <input type="text"
                    [(ngModel)]="str2"
                >
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p>Ma date input : {{ date2 }}</p>
                <input type="date"
                    [(ngModel)]="date2"
                >
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <p>Color picker input : {{ color }}</p>
                <input type="color"
                    [(ngModel)]="color"
                >
            </div>
        </div>
    </div>
</div>


<h3>Binding D'évenements</h3>
<div class="row">
    <div class="col s4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                
                <button class="btn" (click)="addToCount()">+</button>
                <button class="btn" (click)="remToCount()">-</button>
                <p>Counter : {{ counter }}</p>

            </div>
        </div>
    </div>
    <div class="col s8">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">

                <p>Mon chrono : {{ chrono }}</p>

                <button class="btn green" (click)="startChrono()">start chrono</button>
                <button class="btn orange" (click)="stopChrono()">stop chrono</button>
                <button class="btn red" (click)="resetChrono()">reset chrono</button>
                
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="col align-self-center">
            <div class="card">
                <div class="card-header bg-success text-white">
                    List des events Binding
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-item">click = au clic de la souris</li>
                        <li class="list-item">dblclick = au double clic de la souris</li> 
                        <li class="list-item">submit = a l'envoi du formulaire</li>
                        <li class="list-item">blur = perte du focus de l'élément (form)</li>  
                        <li class="list-item">focus = au focus de l'élement</li> 
                        <li class="list-item">scroll = lors du scroll de l'élement</li>
                        <li class="list-item">cut = lors du ctrl+x</li>
                        <li class="list-item">copy = lors du ctrl+c</li>
                        <li class="list-item">paste = lors du ctrl+v</li>
                        <li class="list-item">keyup = touche du clavier up</li>
                        <li class="list-item">keypress = lors d'un appui sur une touche clavier</li>
                        <li class="list-item">keydown = touche du clavier down</li>
                        <li class="list-item">mouseup = lache le bouton de la souris (sur l'élement)</li>
                        <li class="list-item">mousedown = appuye le bouton de la souris (sur l'élement)</li>
                        <li class="list-item">mouseenter = la souris rentre dans l'élément</li>
                        <li class="list-item">drag = lors de la sélection de l'élement pour le déplacer</li>
                        <li class="list-item">drop = lors du relachement de ce même élement</li>
                        <li class="list-item">dragover = lors du déplacement de cet élement (toute les 100ms)</li>
                    </ul>
                </div>
            </div>
        </div>
       
    </div>
</div>
