
<!-- Dropdown Structure -->
<ul id="dropdown_demos" class="dropdown-content">
    <li><a routerLink="fàijzagijzroig">0 : La 404</a></li>
    <li class="divider"></li>
    <li><a routerLink="bindings1">1 : Les différents Bindings</a></li>
    <li class="divider"></li>
    <li><a routerLink="pipes2">2 : Les Pipes et Pipes Customs</a></li>
    <li class="divider"></li>
    <li><a routerLink="directiveStruct3">3 : Les Directives Structurelle</a></li>
    <li class="divider"></li>
    <li><a routerLink="directives4">4 : Les Autres Directives</a></li>
    <li class="divider"></li>
    <li><a routerLink="topPlayers5">5 : Les Communications Input & Output</a></li>
    <li class="divider"></li>
    <li><a routerLink="services6">6 : L'injection de dépandances par les services</a></li>
    <li class="divider"></li>
    <li><a routerLink="httpclient7">7 : Le Http Client, intro observable</a></li>

</ul>


<ul id="dropdown_exos" class="dropdown-content">
    <li><a routerLink="exos01">Exos 0.1 : Les chronomètres</a></li>
    <li class="divider"></li>
    <li><a routerLink="exos05">Exos 0.5 : Les Customs Pipes</a></li>
    <li class="divider"></li>
    <li><a routerLink="exos1">Exos 1.0 : Le Panier de course V1</a></li>
</ul>


<nav>
    <div class="nav-wrapper">
        <a routerLink="" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown_demos">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Liste des démos Angular
                    <i class="material-icons right">arrow_drop_down</i>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
            </li>
            <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown_exos">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Liste des exos Angular
                    <i class="material-icons right">arrow_drop_down</i>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
            </li>
        </ul>
    </div>
</nav>


